* {
  box-sizing: border-box;
}
body {
  background: #f6f6f6;
}

@import "layout/header";

@import "components/buttons";

@import "components/loader";

@import "layout/reservation";

@import "settings/polices";

@import "layout/fonctionnement";

@import "layout/restaurants";

@import "layout/footer";

@import "pages/header";

@import "pages/menu";

@import "settings/colors";

@import "settings/animations";
