@import "layout/header";

@import "components/buttons";

@import "layout/reservation";

@import "settings/polices";

@import "layout/fonctionnement";

@import "layout/restaurants";

@import "layout/footer";

@import "pages/header";

@import "pages/menu"