@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loaderOut {
  0% {
    opacity: 1;
    pointer-events: initial;
  }
  90% {
    opacity: 1;
    pointer-events: initial;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
