$black_000: #000000;
$darkorchid_ab2ed1: #ab2ed1;
$fuchsia_f80be8: #f80be8;
$whitesmoke_ebf0f3: #ebf0f3;
$darkslategray: #363636;
$dimgray_5c5c5c: #5c5c5c;
$lightgray_cfcfcf: #cfcfcf;
$whitesmoke_eaeaea: #eaeaea;
$whitesmoke_f7f7f7: #f7f7f7;
$whitesmoke_f6f6f6: #f6f6f6;