@import "../settings/colors";

  .reservation-bouton {
    align-content: center;
    background-color: $fuchsia_f80be8;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: inset -16px -13px 20px 6px $darkorchid_ab2ed1;
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    width: 210px;
  }

  .fonctionnement-button {
    display: flex;
    justify-content: center; align-items: center;
    background-color: $whitesmoke_f6f6f6;
    border-radius: 20px;
    color: $black_000;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 25px 40px 25px 40px;
    text-align: center;
    width: 220px;
  }

  .command-button
  {
    align-content: center;
    background-color: $fuchsia_f80be8;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: inset -16px -13px 20px 6px $darkorchid_ab2ed1;
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 210px;
  }

  .numbers
  {
    position: absolute;
    background-color:#9356DC;
    color: white;
    padding:5px 10px 5px 10px;
    border-radius: 100%;
    margin-right: 300px;
  }

  @media (min-width: 320px) and (max-width: 340px)
  {
    .fonctionnement-button
    {
      margin: auto 20px auto;
    }
  }

