$black_000: #000000;
$darkorchid_ab2ed1: #ab2ed1;
$fuchsia_f80be8: #f80be8;
$whitesmoke_ebf0f3: #ebf0f3;

@media screen and (max-width: 600px) {
  
  .reservation-bouton {
    align-content: center;
    background-color: $fuchsia_f80be8;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: inset -16px -13px 20px 6px $darkorchid_ab2ed1;
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    width: 210px;
  }

  .choice-button {
    display: flex;
    justify-content: center;
    background-color: $whitesmoke_ebf0f3;
    border-radius: 14px;
    color: $black_000;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 220px;
  }

  .composition-button {
    background-color: $whitesmoke_ebf0f3;
    border-radius: 14px;
    color: $black_000;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 220px;
  }

  .degustation-button {
    background-color: $whitesmoke_ebf0f3;
    border-radius: 14px;
    color: $black_000;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 220px;
  }

  .command-button
  {
    align-content: center;
    background-color: $fuchsia_f80be8;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: inset -16px -13px 20px 6px $darkorchid_ab2ed1;
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 210px;
  }
}
