.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  color: #9f60e3;
  animation: loaderOut 1.8s 1 forwards;
}

@media screen and (max-width: 768px) {
  .loader {
    font-size: 20vw;
  }
}
