@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@media screen and (max-width: 600px) {
  .header-logo {
    align-items: center;
    box-shadow: 0 5px 7px -1px #cfcfcf;
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  .header-image {
    height: 35px;
  }

  .paris-bloc {
    background-color: #eaeaea;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
  }

  .paris-text {
    color: #5c5c5c;
    font-family: "Roboto";
    font-size: 1rem;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
  }

  .fa-map-marker-alt {
    padding-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .reservation-bouton {
    align-content: center;
    background-color: #f80be8;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: inset -16px -13px 20px 6px #ab2ed1;
    color: white;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    width: 210px;
  }

  .choice-button {
    display: flex;
    justify-content: center;
    background-color: #ebf0f3;
    border-radius: 14px;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 220px;
  }

  .composition-button {
    background-color: #ebf0f3;
    border-radius: 14px;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 220px;
  }

  .degustation-button {
    background-color: #ebf0f3;
    border-radius: 14px;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 220px;
  }

  .command-button {
    align-content: center;
    background-color: #f80be8;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: inset -16px -13px 20px 6px #ab2ed1;
    color: white;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 210px;
  }
}
@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .reservation {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin-top: -14px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .reservation-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 600px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .fonctionnement-title {
    font-family: Roboto, sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 15px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  a {
    text-decoration: inherit;
    color: inherit;
    display: contents;
  }

  .restaurants {
    background: #f6f6f6;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .restaurants-blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
  }

  .restaurants-title {
    display: inline-block;
    font-family: "Roboto";
    margin-left: 15px;
    margin-top: 40px;
  }

  .restaurants-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }
  .restaurants-block img {
    border-radius: 20px;
    height: 60%;
    object-fit: cover;
    width: 120%;
  }

  .restaurants-description {
    background: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    font-family: "Roboto";
    height: 80px;
    margin-top: -15px;
    text-align: center;
    width: 120%;
  }
}
@media screen and (max-width: 600px) {
  footer {
    background-color: #363636;
    color: white;
    padding: 20px 25px 30px;
  }
  footer h3 {
    font-family: "Shrikhand";
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 13px;
  }
  footer li {
    color: white;
    font-family: "Roboto";
    line-height: 1.7rem;
    list-style-type: none;
  }
  footer i {
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .font-image {
    width: 100%;
  }

  .menu-title {
    font-family: "Shrikhand";
    padding-left: 15px;
  }
}
@media screen and (max-width: 600px) {
  .menu-types {
    font-family: "Roboto";
    margin-left: 15px;
  }

  .menu-blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .choice-block {
    display: flex;
    background-color: #ebf0f3;
    border-radius: 14px;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 20px 60px 20px 20px;
    width: 220px;
  }
}

/*# sourceMappingURL=style.css.map */
