@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
}

.header-logo {
  align-items: center;
  box-shadow: 0 5px 7px -1px #cfcfcf;
  display: flex;
  background-color: white;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
}
.header-logo .header-back-link {
  position: absolute;
  top: 50%;
  left: 50px;
  display: inline-block;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.header-image {
  height: 35px;
}

.paris-bloc {
  background-color: #eaeaea;
  flex-direction: column;
  margin-top: -10px;
}

.paris-text {
  color: #5c5c5c;
  font-family: "Roboto";
  font-size: 1rem;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

.fa-map-marker-alt {
  padding-right: 10px;
}

.reservation-bouton {
  align-content: center;
  background-color: #f80be8;
  background: linear-gradient(180deg, #ee74da, #af5fdb);
  border: 1px solid transparent;
  border-radius: 100px;
  color: white;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  justify-content: center;
  margin: auto;
  padding: 15px 30px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  cursor: pointer;
}

.fonctionnement-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  color: #000000;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin: auto;
  padding: 25px 40px 25px 40px;
  text-align: center;
  width: 80%;
  box-shadow: 7px 7px 11px 0px rgba(0, 0, 0, 0.1);
  max-width: 316px;
  position: relative;
  cursor: default;
}
.fonctionnement-button:hover {
  background-color: #f5edff;
}

.command-button {
  align-content: center;
  background-color: #f80be8;
  background: linear-gradient(180deg, #ee74da, #af5fdb);
  border: 1px solid transparent;
  border-radius: 100px;
  color: white;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  justify-content: center;
  margin: 30px auto 60px;
  padding: 15px 30px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  max-width: 220px;
  cursor: pointer;
}

.numbers {
  position: absolute;
  background-color: #9356dc;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 100%;
  margin-right: 300px;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 320px) and (max-width: 340px) {
  .fonctionnement-button {
    margin: auto 20px auto;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement-button {
    min-width: 300px;
    flex-basis: 80%;
  }
}
.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  color: #9f60e3;
  animation: loaderOut 1.8s 1 forwards;
}

@media screen and (max-width: 768px) {
  .loader {
    font-size: 20vw;
  }
}
body {
  margin: 0;
}

.reservation {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  margin-top: -14px;
  padding-bottom: 65px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.reservation-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 36px;
  width: 90%;
  max-width: 400px;
}

.reservation p {
  font-size: 23px;
  font-weight: lighter;
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 40px;
}

@media (min-width: 500px) and (max-width: 1800px) {
  .reservation p {
    padding-bottom: 20px;
  }
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  width: 100%;
  padding-bottom: 60px;
}

.fonctionnement-title {
  font-family: Roboto, sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 36px;
  padding-left: 15px;
  padding-top: 10px;
  flex-basis: 100%;
}

.fa-mobile-alt {
  padding-right: 20px;
}

.fa-list-ul {
  padding-right: 20px;
}

.fa-store {
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .fonctionnement-title {
    margin-right: 30px;
  }

  .fonctionnement {
    display: flex;
    flex-direction: row;
  }
}
a {
  text-decoration: inherit;
  color: inherit;
}

.restaurants {
  background: #f6f6f6;
  padding: 20px;
}

.restaurants-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurants-title {
  display: inline-block;
  font-family: "Roboto";
  margin-left: 15px;
  margin-top: 40px;
}

.restaurants-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
}
.restaurants-block img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
}
.restaurants-block a {
  display: contents;
  height: 100%;
  background-color: #fff;
}

#specify-height {
  height: 84%;
}

.restaurants-block.new-block {
  position: relative;
}
.restaurants-block.new-block::before {
  content: "Nouveau";
  position: absolute;
  right: 15px;
  top: 20px;
  background: #99E2D0;
  color: #008766;
  padding: 8px 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.restaurants-description {
  background: white;
  border-radius: 0 0 20px 20px;
  display: flex;
  font-family: "Roboto";
  text-align: center;
  width: 100%;
  padding: 15px 15px 5px;
  min-height: 70px;
  position: relative;
}
.restaurants-description h3 {
  margin: 0;
}
.restaurants-description p {
  text-align: left;
}

.restaurants-fav {
  position: absolute;
  right: 15px;
  top: 25px;
}
.restaurants-fav input {
  display: none;
}
.restaurants-fav input:checked + label i.far {
  display: none;
}
.restaurants-fav input:checked + label i.fas {
  display: block;
}
.restaurants-fav i {
  font-size: 30px;
  color: #B461DB;
  display: none;
}
.restaurants-fav i.far {
  display: block;
}
.restaurants-fav input:checked + label i.far {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s 0.5s;
}
.restaurants-fav input:checked + label i.fas {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee6fda), to(#b85ada));
  background: -o-linear-gradient(#ee6fda, #b85ada);
  background: linear-gradient(#ee6fda, #b85ada);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: zoomIn 0.5s 1 forwards;
  animation: zoomIn 0.5s 1 forwards;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .restaurants-block {
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    flex: 0 0 auto;
    width: 44%;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1001px) {
  .restaurants-blocks {
    justify-content: center;
  }

  .restaurants-block {
    flex-wrap: wrap;
    border-radius: 20px;
    flex: 0 0 auto;
    justify-content: center;
    width: 30%;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 1235px) {
  .restaurants-block {
    flex-wrap: wrap;
    border-radius: 20px;
    flex: 0 0 auto;
    justify-content: center;
    width: 40%;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}
footer {
  background-color: #363636;
  color: white;
  padding: 20px 25px 30px;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 13px;
}
footer li {
  color: white;
  font-family: "Roboto";
  line-height: 1.7rem;
  list-style-type: none;
}
footer i {
  margin-right: 10px;
}

@media (min-width: 1200px) {
  footer h3 {
    margin-left: 40px;
  }
}
.font-image {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #f6f6f6;
  border-collapse: separate;
  overflow: hidden;
  perspective: 1px;
  border-radius: 50px 50px 0 0;
  margin-top: -60px;
  padding-top: 24px;
}

.menu-header {
  position: relative;
}

.menu-title {
  font-family: "Shrikhand";
  padding-left: 25px;
  font-size: 30px;
  max-width: calc(100% - 89px);
}

.menu-fav {
  position: absolute;
  right: 55px;
  top: 5px;
}
.menu-fav input {
  display: none;
}
.menu-fav label {
  cursor: pointer;
}
.menu-fav i {
  font-size: 30px;
  color: #444;
  display: none;
}
.menu-fav i.far {
  display: block;
}
.menu-fav input:checked + label i.far {
  display: none;
}
.menu-fav input:checked + label i.fas {
  display: block;
}

.menu-types {
  font-family: "Roboto";
  margin-left: 15px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 40px;
}

.menu-blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.choice-block {
  display: flex;
  background-color: white;
  border-radius: 14px;
  margin: 0 auto 10px;
  padding: 10px 30px 10px 15px;
  width: 90%;
  max-width: 450px;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: padding 0.5s;
  animation: fadeUp 0.8s 1 ease forwards;
  opacity: 0;
}
.choice-block:hover {
  padding-right: 60px;
}
.choice-block:hover .choice-block-icon {
  width: 60px;
  opacity: 1;
}
.choice-block:hover .choice-block-icon i {
  transition: 0.5s;
  transition-delay: 0.1s;
  transform: rotate(360deg);
}
.choice-block:nth-child(3) {
  animation-delay: 0.2s;
}
.choice-block:nth-child(4) {
  animation-delay: 0.4s;
}
.choice-block:nth-child(5) {
  animation-delay: 0.6s;
}

.choice-block-text {
  font-family: Roboto, sans-serif;
  color: #000000;
  flex-grow: 1;
  padding-right: 5px;
}
.choice-block-text h4 {
  font-weight: bold;
  margin: 5px 0;
}
.choice-block-text p {
  font-weight: normal;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.choice-block-text p .price {
  font-weight: bold;
  display: inline-block;
}

.choice-block-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 21px;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.choice-block-checkbox {
  display: none;
}
.choice-block-checkbox:checked + .choice-block-icon {
  width: 60px;
  opacity: 1;
}
.choice-block-checkbox:checked + .choice-block-icon i {
  transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
  .choice-block {
    flex-basis: 50%;
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loaderOut {
  0% {
    opacity: 1;
    pointer-events: initial;
  }
  90% {
    opacity: 1;
    pointer-events: initial;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
