 
  .fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 100%;
    padding-bottom: 60px;
  }

  .fonctionnement-title {
    font-family: Roboto, sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 15px;
    padding-top: 10px;
    flex-basis: 100%;
  }

  .fa-mobile-alt
  {
    padding-right: 20px;
  }

  .fa-list-ul
  {
    padding-right: 20px;
  }

  .fa-store
  {
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) 
  {
    .fonctionnement{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  @media (min-width: 1280px)
  {
    .fonctionnement-title 
    {
      margin-right: 30px;
    }
    .fonctionnement
    {
      display: flex;
      flex-direction: row;
    }
  }

