 
  .fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .fonctionnement-title {
    font-family: Roboto, sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 15px;
    padding-top: 10px;
  }

