@media screen and (max-width: 600px)
{
    .header-logo
    {
        display: flex;
        padding-top: 20px;
        padding-bottom: 10px;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 5px 7px -1px #cfcfcf;
        margin-left: -10px;
        margin-right: -10px;
    }
    .header-image
    {
        height: 35px;
    }
    .paris-bloc
    {
        margin-top:-10px;
        flex-direction: column;
        margin-left: -10px;
        margin-right: -10px;
        background-color: #eaeaea;
    }
    .paris-text
    {
        text-align: center;
        font-family: 'Roboto';
        font-size: 1.0rem;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #5c5c5c;
    }
    .fa-map-marker-alt
    {
        padding-right:10px;
    }
}