@media screen and (max-width: 600px)
{
    .restaurants
    {
    margin-top: 90px;
    background-color: #eee;
    }

    .restaurants-title
    {
        display: inline-block;
        margin-top: 40px;
        margin-left: 15px;
        font-family: 'Roboto';
    }
}