@import "../settings/colors";

a
{
  text-decoration: inherit;
  color: inherit;
}

.restaurants {
  background: $whitesmoke_f6f6f6;
  padding: 20px;
}

.restaurants-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurants-title {
  display: inline-block;
  font-family: "Roboto";
  margin-left: 15px;
  margin-top: 40px;
}

.restaurants-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  box-shadow: 1px 1px 14px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;

  img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
  }
  a{
    display: contents;
    height: 100%;
    background-color: #fff;
  }
}

.restaurants-block.new-block {
  position:relative;

  &::before{
    content:"Nouveau";
    position:absolute;
    right:15px;
    top:20px;
    background:#99E2D0;
    color:#008766;
    padding:8px 13px;
    font-family:"Roboto",sans-serif;
    font-weight:500;
  }
}
.restaurants-description {
  background: white;
  border-radius: 0 0 20px 20px;
  display: flex;
  font-family: "Roboto";
  text-align: center;
  width: 100%;
  padding: 15px 15px 5px;
  min-height: 70px;
  position: relative;

  h3{
    margin: 0;
  }
  p{
    text-align: left;
  }
}
.restaurants-fav{
  position: absolute;
  right:15px;
  top: 25px;

  input{
    display: none;
  }
  input:checked + label i.far{
    display: none;
  }
  input:checked + label i.fas{
    display: block;
  }
  i{
    font-size: 30px;
    color: #B461DB;
    display: none;
  }
  i.far{
    display: block;
  }
  input:checked + label i.far {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s .5s;
  }
  input:checked + label i.fas {
    display: block;
    background:-webkit-gradient(linear, left top, left bottom, from(#ee6fda), to(#b85ada));
    background:-o-linear-gradient(#ee6fda, #b85ada);
    background:linear-gradient(#ee6fda, #b85ada);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: zoomIn 0.5s 1 forwards;
            animation: zoomIn 0.5s 1 forwards;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .restaurants-block {
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    flex: 0 0 auto;
    width: 44%;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1001px) {
  .restaurants-blocks {
    justify-content: center;
  }

  .restaurants-block {
    flex-wrap: wrap;
    border-radius: 20px;
    flex: 0 0 auto;
    justify-content: center;
    width: 30%;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1235px)
{
  .restaurants-block 
  {
    flex-wrap: wrap;
    border-radius: 20px;
    flex: 0 0 auto;
    justify-content: center;
    width: 40%;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
}
