@import "../settings/colors";
  a
  {
    text-decoration: inherit;
    color: inherit;
    display: contents;
  }
  .restaurants {
    background: $whitesmoke_f6f6f6;
    padding: 20px;
  }

  .restaurants-blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
  }

  .restaurants-title {
    display: inline-block;
    font-family: 'Roboto';
    margin-left: 15px;
    margin-top: 40px;
  }

  .restaurants-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
    height: 200px;
    border-radius: 20px;

    img {
      border-radius: 20px;
      height: 60%;
      object-fit: cover;
      width: 120%;
    }
  }

  .restaurants-description {
    background: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    font-family: 'Roboto';
    height: 80px;
    margin-top: -15px;
    text-align: center;
    width: 120%;
  }

@media (min-width: 480px) and (max-width: 600px)
  {
    .restaurants-blocks {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 0.5fr);
      gap: 20px 70px; 
      width: 420px;
      margin: auto;
    }
  }

@media (min-width: 600px) and (max-width: 700px)
{
  .restaurants-blocks 
  {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 0.5fr);
    gap: 20px 70px; 
    width: 500px;
    margin: auto;
  }
}

@media (min-width: 700px) and (max-width: 800px)
{
  .restaurants-blocks 
  {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 0.5fr);
    gap: 20px 70px; 
    width: 600px;
    margin: auto;
  }
}

