$whitesmoke_f6f6f6: #f6f6f6;

@media screen and (max-width: 600px) {
  
  a
  {
    text-decoration: inherit;
    color: inherit;
    display: contents;
  }
  .restaurants {
    background: $whitesmoke_f6f6f6;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .restaurants-blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
  }

  .restaurants-title {
    display: inline-block;
    font-family: 'Roboto';
    margin-left: 15px;
    margin-top: 40px;
  }

  .restaurants-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;

    img {
      border-radius: 20px;
      height: 60%;
      object-fit: cover;
      width: 120%;
    }
  }

  .restaurants-description {
    background: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    font-family: 'Roboto';
    height: 80px;
    margin-top: -15px;
    text-align: center;
    width: 120%;
  }
}
