@import "../settings/colors";
  a
  {
    text-decoration: inherit;
    color: inherit;
    display: contents;
  }
  .restaurants {
    background: $whitesmoke_f6f6f6;
    padding: 20px;
  }

  .restaurants-blocks 
  {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurants-title {
    display: inline-block;
    font-family: 'Roboto';
    margin-left: 15px;
    margin-top: 40px;
  }

  .restaurants-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;


    img {
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      width: 100%;
    }
  }

  .restaurants-description {
    background: white;
    border-radius: 0 0 20px 20px;
    display: flex;
    font-family: 'Roboto';
    text-align: center;
    width: 100%;
  }

@media only screen and (min-width: 400px)
  {
    .restaurants-block 
    {
      flex-wrap: wrap;
      border-radius: 20px;
      padding: 0 15px;
      flex: 0 0 auto;
      width: 50%;
      margin-bottom: 30px;
      box-sizing: border-box;
    }
  }



