
  body {
    margin: 0;
  }

  .reservation {
    background-color: $whitesmoke_f7f7f7;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin-top: -14px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  .reservation-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

@media (min-width: 500px) and (max-width: 1800px)
{
  .reservation p
  {
    padding-bottom: 20px;
  }
}
