.menu {
  background-color: $whitesmoke_f6f6f6;
  border-collapse: separate;
  overflow: hidden;
  perspective: 1px;
  border-radius: 50px 50px 0 0;
  margin-top: -60px;
  padding-top: 24px;
}
.menu-header {
  position: relative;
}
.menu-title {
  font-family: "Shrikhand";
  padding-left: 25px;
  font-size: 30px;
  max-width: calc(100% - 89px);
}

.menu-fav {
  position: absolute;
  right: 55px;
  top: 5px;

  & input {
    display: none;
  }
  & label {
    cursor: pointer;
  }
  & i {
    font-size: 30px;
    color: #444;
    display: none;
  }
  & i.far {
    display: block;
  }
  & input:checked + label i.far {
    display: none;
  }
  & input:checked + label i.fas {
    display: block;
  }
}
.menu-types {
  font-family: "Roboto";
  margin-left: 15px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 40px;
}

.menu-blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.choice-block {
  display: flex;
  background-color: white;
  border-radius: 14px;
  margin: 0 auto 10px;
  padding: 10px 30px 10px 15px;
  width: 90%;
  max-width: 450px;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: padding 0.5s;
  animation: fadeUp 0.8s 1 ease forwards;
  opacity: 0;

  &:hover {
    padding-right: 60px;
  }
  &:hover .choice-block-icon {
    width: 60px;
    opacity: 1;
  }
  &:hover .choice-block-icon i {
    transition: 0.5s;
    transition-delay: 0.1s;
    transform: rotate(360deg);
  }

  &:nth-child(3) {
    animation-delay: 0.2s;
  }
  &:nth-child(4) {
    animation-delay: 0.4s;
  }
  &:nth-child(5) {
    animation-delay: 0.6s;
  }
}
.choice-block-text {
  font-family: Roboto, sans-serif;
  color: $black_000;
  flex-grow: 1;
  padding-right: 5px;

  h4 {
    font-weight: bold;
    margin: 5px 0;
  }
  p {
    font-weight: normal;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;

    .price {
      font-weight: bold;
      display: inline-block;
    }
  }
}
.choice-block-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 21px;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.choice-block-checkbox {
  display: none;

  &:checked + .choice-block-icon {
    width: 60px;
    opacity: 1;
  }
  &:checked + .choice-block-icon i {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .choice-block {
    flex-basis: 50%;
  }
}
